<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mainsemester">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainSemester">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <activity
            android:name=".MapActivity"
            android:exported="true"
           />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".Admin"
            android:exported="true" />

        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name=".DonateFoodActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".requestfetchdata"
            android:exported="true" />
        <activity
            android:name=".RequestFood"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".UserActivity"
            android:exported="true" />
        <activity
            android:name=".VolunteerActivity"
            android:exported="true" />
        <activity
            android:name=".VolunteerSignUp"
            android:exported="true" />
        <activity
            android:name=".VolunteerView"
            android:exported="true" />

        <activity
            android:name=".fetchdata"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>